{% extends 'baseshop.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}

<style>

.sell_level{
    background-color: #dcb14a;
}

</style>

{% endblock %}



{% block content %}

<div class="col-4 offset-4 mb-5" style="margin-top: 110px; background-color: rgb(255, 255, 255); padding: 15px;">
    <h3 style="font-weight: 300; border-bottom: 1px solid black;">{{title}} (Optionel)</h3>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }} <br/>
        <label for="img">IMAGE (selectionner jusqu'a 3 images)</label>
        <input type="file" name="images" multiple>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>

{% endblock %}