{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <main>
        <div class="container">
      
          <!--Section: Products v.3-->
          <section class="mb-4">
      
            <!--Grid row-->
            <div class="row wow fadeIn">
              <div class="col-6 offset-3">
              
                <h1 class="mb-4">{% trans "Changer le mot de passe" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" name="action" class="btn btn-primary">{% trans "Changer le mot de passe" %}</button>
                </form>
                
              </div>
            </div>
          </section>
      
        </div>
        
    </main>
{% endblock %}
